In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from fastai.basics import *
from fastai.vision import *

In [3]:
from keras.models import Sequential
from keras.layers import Dense, Conv2D, MaxPooling2D, Flatten, Dropout
from scipy import stats
from keras import optimizers

Using TensorFlow backend.

In [4]:
np.random.seed(666)
plt.style.use(['dark_background'])

In [5]:
DATA_PATH = Path.cwd()/'actitracker_raw.txt'

In [6]:
#export
def readData(filePath):
    columnNames = ['user_id','activity','timestamp','x-axis','y-axis','z-axis']
    data = pd.read_csv(filePath,header = None, names=columnNames,na_values=';')
    return data

In [7]:
df = readData(DATA_PATH)

In [8]:
len(df)

1098204

In [10]:
df.head()

   user_id activity       timestamp    x-axis     y-axis    z-axis
0       33  Jogging  49105962326000 -0.694638  12.680544  0.503953
1       33  Jogging  49106062271000  5.012288  11.264028  0.953424
2       33  Jogging  49106112167000  4.903325  10.882658 -0.081722
3       33  Jogging  49106222305000 -0.612916  18.496431  3.023717
4       33  Jogging  49106332290000 -1.184970  12.108489  7.205164

## Fastai

1098204