# Rossmann

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
from pathlib import Path

plt.style.use(['dark_background'])

## Data preparation / Feature engineering

In [3]:
PATH=Path('data/competitions/rossmann/')
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather', 'test']
tables = [pd.read_csv(PATH/f'{fname}.csv', low_memory=False) for fname in table_names]
train, store, store_states, state_names, googletrend, weather, test = tables
len(train),len(test)

(1017209, 41088)

We turn state Holidays to booleans, to make them more convenient for modeling. We can do calculations on pandas fields using notation very similar (often identical) to numpy.

In [4]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

`join_df` is a function for joining tables on specific fields. By default, we'll be doing a left outer join of `right` on the `left` argument using the given fields for each table.

Pandas does joins using the `merge` method. The `suffixes` argument describes the naming convention for duplicate fields. We've elected to leave the duplicate field names on the left untouched, and append a "\_y" to those on the right.

In [5]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

Join weather/state_names on `weather.file` and `state_names.StateName`.

In [6]:
weather = join_df(weather, state_names, "file", "StateName")

In pandas you can add new columns to a dataframe by simply defining it. We'll do this for googletrends by extracting dates and state names from the given data and adding those columns.

We're also going to replace all instances of state name 'NI' to match the usage in the rest of the data: 'HB,NI'. This is a good opportunity to highlight pandas indexing. We can use `.loc[rows, cols]` to select a list of rows and a list of columns from the dataframe. In this case, we're selecting rows w/ statename 'NI' by using a boolean list `googletrend.State=='NI'` and selecting "State".

In [7]:
googletrend.week.head()

0    2012-12-02 - 2012-12-08
1    2012-12-09 - 2012-12-15
2    2012-12-16 - 2012-12-22
3    2012-12-23 - 2012-12-29
4    2012-12-30 - 2013-01-05
Name: week, dtype: object

In [8]:
googletrend.file.head()

0    Rossmann_DE_SN
1    Rossmann_DE_SN
2    Rossmann_DE_SN
3    Rossmann_DE_SN
4    Rossmann_DE_SN
Name: file, dtype: object

googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

The following extracts particular date fields from a complete datetime for the purpose of constructing categoricals.

You should *always* consider this feature extraction step when working with date-time. Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities. We'll add to every table with a date field.

In [10]:
def add_datepart(df, fldname, drop=True, time=False):
    "Helper function that adds columns relevant to a date."
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
        
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [13]:
googletrend

                file                     week  trend
0     Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1     Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2     Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3     Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4     Rossmann_DE_SN  2012-12-30 - 2013-01-05     67
5     Rossmann_DE_SN  2013-01-06 - 2013-01-12     71
6     Rossmann_DE_SN  2013-01-13 - 2013-01-19     53
7     Rossmann_DE_SN  2013-01-20 - 2013-01-26     58
8     Rossmann_DE_SN  2013-01-27 - 2013-02-02     55
9     Rossmann_DE_SN  2013-02-03 - 2013-02-09     55
10    Rossmann_DE_SN  2013-02-10 - 2013-02-16     58
11    Rossmann_DE_SN  2013-02-17 - 2013-02-23     65
12    Rossmann_DE_SN  2013-02-24 - 2013-03-02     48
13    Rossmann_DE_SN  2013-03-03 - 2013-03-09     51
14    Rossmann_DE_SN  2013-03-10 - 2013-03-16     50
15    Rossmann_DE_SN  2013-03-17 - 2013-03-23     58
16    Rossmann_DE_SN  2013-03-24 - 2013-03-30     54
17    Rossmann_DE_SN  2013-03-31 - 2013-04-06     55
18    Rossmann_DE_SN  2013-04-07 - 2013-04-13     64
19    Rossmann_DE_SN  2013-04-14 - 2013-04-20     47
20    Rossmann_DE_SN  2013-04-21 - 2013-04-27     51
21    Rossmann_DE_SN  2013-04-28 - 2013-05-04     47
22    Rossmann_DE_SN  2013-05-05 - 2013-05-11     57
23    Rossmann_DE_SN  2013-05-12 - 2013-05-18     64
24    Rossmann_DE_SN  2013-05-19 - 2013-05-25     54
25    Rossmann_DE_SN  2013-05-26 - 2013-06-01     67
26    Rossmann_DE_SN  2013-06-02 - 2013-06-08     45
27    Rossmann_DE_SN  2013-06-09 - 2013-06-15     55
28    Rossmann_DE_SN  2013-06-16 - 2013-06-22     67
29    Rossmann_DE_SN  2013-06-23 - 2013-06-29     56
...              ...                      ...    ...
2042  Rossmann_DE_SL  2015-03-08 - 2015-03-14     60
2043  Rossmann_DE_SL  2015-03-15 - 2015-03-21     61
2044  Rossmann_DE_SL  2015-03-22 - 2015-03-28     80
2045  Rossmann_DE_SL  2015-03-29 - 2015-04-04     61
2046  Rossmann_DE_SL  2015-04-05 - 2015-04-11     67
2047  Rossmann_DE_SL  2015-04-12 - 2015-04-18     58
2048  Rossmann_DE_SL  2015-04-19 - 2015-04-25     67
2049  Rossmann_DE_SL  2015-04-26 - 2015-05-02     86
2050  Rossmann_DE_SL  2015-05-03 - 2015-05-09     70
2051  Rossmann_DE_SL  2015-05-10 - 2015-05-16     77
2052  Rossmann_DE_SL  2015-05-17 - 2015-05-23     77
2053  Rossmann_DE_SL  2015-05-24 - 2015-05-30     78
2054  Rossmann_DE_SL  2015-05-31 - 2015-06-06     95
2055  Rossmann_DE_SL  2015-06-07 - 2015-06-13     90
2056  Rossmann_DE_SL  2015-06-14 - 2015-06-20    100
2057  Rossmann_DE_SL  2015-06-21 - 2015-06-27     70
2058  Rossmann_DE_SL  2015-06-28 - 2015-07-04     83
2059  Rossmann_DE_SL  2015-07-05 - 2015-07-11     53
2060  Rossmann_DE_SL  2015-07-12 - 2015-07-18     53
2061  Rossmann_DE_SL  2015-07-19 - 2015-07-25     50
2062  Rossmann_DE_SL  2015-07-26 - 2015-08-01     69
2063  Rossmann_DE_SL  2015-08-02 - 2015-08-08     88
2064  Rossmann_DE_SL  2015-08-09 - 2015-08-15     68
2065  Rossmann_DE_SL  2015-08-16 - 2015-08-22     81
2066  Rossmann_DE_SL  2015-08-23 - 2015-08-29     48
2067  Rossmann_DE_SL  2015-08-30 - 2015-09-05     95
2068  Rossmann_DE_SL  2015-09-06 - 2015-09-12     47
2069  Rossmann_DE_SL  2015-09-13 - 2015-09-19     80
2070  Rossmann_DE_SL  2015-09-20 - 2015-09-26     57
2071  Rossmann_DE_SL  2015-09-27 - 2015-10-03      0

[2072 rows x 3 columns]

In [11]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

The Google trends data has a special category for the whole of the Germany - we'll pull that out so we can use it explicitly.

In [12]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

Now we can outer join all of our data into a single dataframe. Recall that in outer joins everytime a value in the joining field on the left table does not have a corresponding value on the right table, the corresponding row in the new table has Null values for all right table fields. One way to check that all records are consistent and complete is to check for Null values post-join, as we do here.

*Aside*: Why note just do an inner join?
If you are assuming that all records are complete and match on the field you desire, an inner join will do the same thing as an outer join. However, in the event you are wrong or a mistake is made, an outer join followed by a null-check will catch it. (Comparing before/after # of rows for inner join is equivalent, but requires keeping track of before/after row #'s. Outer join is easier.)

In [13]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [14]:
store.columns
googletrend.columns

Index(['file', 'week', 'trend', 'Date', 'State', 'Year', 'Month', 'Week',
       'Day', 'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed'],
      dtype='object')

In [15]:
train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed'],
      dtype='object')

In [16]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [17]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [18]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [19]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'Dayofweek_y',
       'Dayofyear_y', 'Is_month_end_y', 'Is_month_start_y', 'Is_quarter_end_y',
       'Is_quarter_start_y', 'Is_year_end_y', 'Is_year_start_y', 'Elapsed_y',
       'file_DE', 'week_DE', 'trend_DE', 'Date_DE', 'State_DE', 'Month_DE',
       'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE', 'Is_month_end_DE',
       'Is_month_start_DE', 'Is_quarter_end_DE', 'Is_quarter_start_DE',
       'Is_year_end_DE', 'Is_year_start_DE', 'Elapsed_DE'],
      dtype='object')

In [20]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [21]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

Next we'll fill in missing values to avoid complications with `NA`'s. `NA` (not available) is how Pandas indicates missing values; many models have problems when missing values are present, so it's always important to think about how to deal with them. In these cases, we are picking an arbitrary *signal value* that doesn't otherwise appear in the data.

In [22]:
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

Next we'll extract features "CompetitionOpenSince" and "CompetitionDaysOpen". Note the use of `apply()` in mapping a function across dataframe values.

In [23]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

We'll replace some erroneous / outlying data.

In [24]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

We add "CompetitionMonthsOpen" field, limiting the maximum to 2 years to limit number of unique categories.

In [25]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,
        1, 14, 20,  8, 18,  6, 21,  5])

Same process for Promo dates.

In [26]:
from isoweek import Week
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1).astype(pd.datetime))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [27]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [28]:
joined.to_feather(PATH/'joined')
joined_test.to_feather(PATH/'joined_test')

## Durations

It is common when working with time series data to extract data that explains relationships across rows as opposed to columns, e.g.:
* Running averages
* Time until next event
* Time since last event

This is often difficult to do with most table manipulation frameworks, since they are designed to work with relationships across columns. As such, we've created a class to handle this type of data.

We'll define a function `get_elapsed` for cumulative counting across a sorted dataframe. Given a particular field `fld` to monitor, this function will start tracking time since the last occurrence of that field. When the field is seen again, the counter is set to zero.

Upon initialization, this will result in datetime na's until the field is encountered. This is reset every time a new store is seen. We'll see how to use this shortly.

In [29]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

We'll be applying this to a subset of columns:

In [30]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [31]:
#df = train[columns]
df = train[columns].append(test[columns])

Let's walk through an example.

Say we're looking at School Holiday. We'll first sort by Store, then Date, and then call `add_elapsed('SchoolHoliday', 'After')`:
This will apply to each row with School Holiday:
* A applied to every row of the dataframe in order of store and date
* Will add to the dataframe the days since seeing a School Holiday
* If we sort in the other direction, this will count the days until another holiday.

In [32]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We'll do this for two more fields.

In [33]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [34]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We're going to set the active index to Date.

In [35]:
df = df.set_index("Date")

Then set null values from elapsed field calculations to 0.

In [36]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [37]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

Next we'll demonstrate window functions in pandas to calculate rolling quantities.

Here we're sorting by date (`sort_index()`) and counting the number of events of interest (`sum()`) defined in `columns` in the following week (`rolling()`), grouped by Store (`groupby()`). We do the same in the opposite direction.

In [38]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [39]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [40]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [41]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [42]:
df.reset_index(inplace=True)

Now we'll merge these values onto the df.

In [43]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [44]:
df.drop(columns,1,inplace=True)

In [45]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0

It's usually a good idea to back up large tables of extracted / wrangled features before you join them onto another one, that way you can go back to it easily if you need to make changes to it.

In [46]:
df.to_feather(PATH/'df')

In [47]:
df = pd.read_feather(PATH/'df')

/opt/anaconda3/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [48]:
df["Date"] = pd.to_datetime(df.Date)

In [49]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [50]:
joined = pd.read_feather(PATH/'joined')
joined_test = pd.read_feather(PATH/f'joined_test')

In [51]:
joined = join_df(joined, df, ['Store', 'Date'])

In [52]:
joined_test = join_df(joined_test, df, ['Store', 'Date'])

The authors also removed all instances where the store had zero sale / was closed. We speculate that this may have cost them a higher standing in the competition. One reason this may be the case is that a little exploratory data analysis reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. By ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

In [53]:
joined = joined[joined.Sales!=0]

We'll back this up as well.

In [54]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [55]:
joined.to_feather(PATH/'train_clean')
joined_test.to_feather(PATH/'test_clean')